/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 29, 2019, 10:09:09 PM
    Author     : vieta
*/
body{
    font-family: monospace;
    font-size: 11pt;
    margin: 0 auto;
    padding: 0;
}

div.header {
    display: block;
    position: absolute;
    background: url(mum-bg.jpg) 0 0 no-repeat;
    width: 100%;
    height: 100%;
    top: -100px;
}

div.picture {
    display: block;
    position: relative;
    float: left;
    top: 340px;
    left: 25px;
}

div.picture img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 50%;
  padding: 5px; /* Some padding */
  width: 150px; /* Set a small width */
}

/* Add a hover effect (blue shadow) */
div.picture img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

div.student {
    display: block;
    position: relative;
    margin-top: 370px;
    clear: both;
}

ul.info {
   list-style: none; 
   margin: 0;
   padding: 0;
   display: block;
   font-style: italic;
   font-family: monospace;
   font-size: 11pt;
   font-weight: bold;
   padding-left: 200px;
}

a, a:active, a:visited {
    font-family: monospace;     
    color: blue;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: maroon;
}

ul.info li {
    display: block;
    float: left;
    margin-right: 25px;
}

ul li {
    padding-top: 1px;
}

ul.info li.user {
    background: url(male.png) 0% 50% no-repeat;
    padding-left: 23px;
    padding-top: 2px;
}

ul.info li.id {
    background: url(id.png) 0% 50% no-repeat;
    padding-left: 23px;
    padding-top: 2px;
}

ul.info li.email {
    background: url(email.png) 0% 50% no-repeat;
    padding-left: 23px;
    padding-top: 2px;
}

div.content {
    clear: both;
    padding: 15px;
}

div.footer {
    clear: both;
    padding: 10px;
}
